# Node
node_modules/
.npm/
.pnpm-store/

# Env
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
.next/
dist/
build/
coverage/

# Wrangler
.wrangler/

# Hardhat
cache/
artifacts/

# OS
.DS_Store


.npm-cache/
.vscode/settings.json
.cursor/worktrees.json
web/.env.local
